/* The # after col is the number of columns 
the that will be taken up from a 12 column 
grid. (Not 60px / 960px but instead #/12) */

*
{
  box-sizing: border-box;
}

.grid-container
{
  max-width: 1000px;
  margin-left : auto;
  margin-right: auto;
}

.grid-row
{
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left : auto;
  margin-right: auto;
}

  .grid-row::before
, .grid-row::after
{
  display:table;
  content:'';
}

.grid-row::after
{
  clear:both;
}

  .grid-col-1
, .grid-col-2
, .grid-col-3
, .grid-col-4
, .grid-col-6
, .grid-col-10
, .grid-col-12
{
  width: 100%;
}

  .grid-col-1
, .grid-col-2
, .grid-col-3
, .grid-col-4
, .grid-col-6
, .grid-col-10
, .grid-col-12
{
  float:left;
  padding-left:  1.04166666%;
  padding-right: 1.04166666%;
}


/* For screens (viewports) that are larger than 640px */
@media only screen and (min-width:640px)
{
  .grid-col-1
  {
    width : 8.3%;
  }
  
  .grid-col-2
  {
    width : 16.668%;
  }
  
  .grid-col-3 
  {
    width : 25%;
  }
  
  .grid-col-4
  {
    width : 33.33%;
  }
  
  .grid-col-6
  {
    width : 50%;
  }
  
  .grid-col-10
  {
    width: 80%;
  }
  
  .grid-col-12
  {
    width : 100%;
  }
}